<h1>Info Restaurant</h1>

<p>Name: <%= @restaurant.name %></p>
<p>Adress: <%= @restaurant.address %></p>
<p>Phone Number: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>


<%= link_to 'Delete', @restaurant, class:'btn btn-danger', data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%= link_to 'See all Restaurants', restaurants_path, class:'btn btn-primary' %>


<%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "btn btn-success" %>
<%= link_to 'See all reviews', reviews_new_path, class:'btn btn-primary' %>


